<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Phil20267541's Projects</title>
    <meta name="description" content="Website for phil20267541's projects">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="contact.css">
    <link rel="icon" type="image/x-icon" href="Resources/favicon.png">
  </head>
  <body>
    <header>
      <h1>Phil20267541's Projects</h1>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a class="active" href="contact.html">Contact</a></li>
      </ul>
    </nav>
    <main>
      <div class="page-container" id="app">
        <section id="content">
          <h2>Contact Me</h2>
          <p class="imp-text">If you'd like to get in touch, feel free to reach out via email or connect with me on social media!</p>
          <div class="contact-container">
            <div class="contact-info">
              <h3>Email</h3>
              <a href="mailto:phillip20267541@gmail.com">phillip20267541@gmail.com</a>
            </div>
            <div class="contact-info">
              <h3>Phone</h3>
              <p>+44 07367 066935</p>
            </div>
            <div class="contact-info">
              <h3>Social Media</h3>
              <ul>
                <li><a href="https://www.linkedin.com/in/phillip-swann-1b5216351/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/phil20267541" target="_blank">GitHub</a></li>
              </ul>
            </div>
          </div>
          <br><hr><br>
          <h2>Send Me a Message</h2>
          <div class="form-container">
            <form v-on:submit.prevent="submitForm">
              <p>Name</p>
              <input type="text" name="name" v-model="name">
              <span class="error" v-if="errors.name">{{ errors.name }}</span>
              <p>Email</p>
              <input  name="email" v-model="email">
              <span class="error" v-if="errors.email">{{ errors.email }}</span>
              <p>Message</p>
              <textarea name="message" v-model="message"></textarea>
              <span class="error" v-if="errors.message">{{ errors.message }}</span>
              <button type="submit">Send</button>
            </form>
          </div>
          <div v-if="submitted" class="success-message">
            <h3>Form Submitted</h3>
            <p><strong>Name:</strong> {{ success_name }}</p>
            <p><strong>Email:</strong> {{ success_email }}</p>
            <p><strong>Message:</strong> {{ success_message }}</p>
          </div>
          <div v-if="success" class="success-message">
            <h3>Form Submitted Successfully!</h3>
            <p><strong>Name:</strong> {{ success_name }}</p>
            <p><strong>Email:</strong> {{ success_email }}</p>
            <p><strong>Message:</strong> {{ success_message }}</p><br>
            <h3>Thank You for Your Message!</h3>
            <p>I appreciate you reaching out and will get back to you as soon as possible.</p>
          </div>
        </section>
      </div>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
      <script src="contact.js" defer></script>
    </main>
    <footer>
      <div class="footer-container">
        <section class="footer-section">
          <h3>Quick Links</h3>
          <a href="index.html">Home</a>
          <a href="about.html">About Me</a>
          <a href="contact.html">Contact</a>
        </section>
        <section class="footer-section">
          <h3>Connect with Me</h3>
          <a href="https://www.linkedin.com/in/phillip-swann-1b5216351/" target="_blank">LinkedIn</a> 
          <a href="https://github.com/phil20267541" target="_blank">GitHub</a>
        </section>
      </div>
      <p>&copy; 2025 Phil20267541. All rights reserved.</p>
    </footer>
  </body>
</html>