* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #7B2CBF;
  color: #F0F4FF;
  border-bottom: 1px solid #1A1A2E;
}

header h1 {
  text-align: center;
  font-size: 80px;
  padding: 20px;
}

nav {
  background-color: #F0F4FF;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-self: center;
  justify-content: space-around;
  width: 40vw;
}

nav ul li {
  padding: 14px 16px;
}

nav ul li a {
  text-decoration: none;
  color: #1A1A2E;
  font-size: 30px;
  font-weight: bold;
  border-radius: 21px;
  padding: 6px 10px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #FF6B6B;
}

nav ul li a.active {
  background-color: #FF6B6B;
  color: #1A1A2E;
  border: 2px solid #1A1A2E;
}